$lightBlue: rgba(33, 49, 41, 0.829);
$fontSize: 1.4em;
$borderColor: rgb(166, 180, 166);
$image: "https://www.notediscover.com/art/track/fleetwood-mac-blue-letter-2017-remaster-9969.jpeg";
$imgThenPlayOn: "https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/Then_Play_On.jpg/220px-Then_Play_On.jpg";
$imgBorder: rgba(117, 117, 32, 0.904);