@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import "./variables";
@import "./player";
@import "./playlist";

* {
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Itim";
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: $lightBlue;
  color: white;
}

i {
  cursor: pointer;
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(35, 66, 38);
  padding: 10px 20px;
  // Todo! Set a comment here...
  z-index: 10;

  // Nested elements:
  h1 {
    // em: sets the size of the current font. Example 2em = 2 * default font size.
    font-size: 1.1em;
    margin: 0;
  }
}

main {
  display: flex;
  // flex: 1;
  min-height: 100vh;
  width: 900px;
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.445);
  // ::before lets us add content to our element right before the initial content is rendered
  &::before {
    background-image: url($image);
    background-size: cover;
    // We must have content together with ::before
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 900px;
    z-index: -2;
    opacity: 0.3;
    filter: blur(10px);
  }
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }

  #player {
    order: 1;
  }
  #playList {
    order: 2;
  }
  
}